{% extends 'webkiosk/base_template.html' %}

{% block pagetitle %}{{ order.id }}{% endblock %}

{% block maincontent %}
<h2 class="section-header container">Order #{{ order.id }}</h2>
<ul>
<p class="food-name">Customer: {{ order.customer.firstname }} {{ order.customer.lastname }}</p> <br>
<p class="food-name">Payment: {{ order.paymentmode }}</p>
</ul>
<ul>
    {% for item in orderitems %}
    <li><a class="food-price">{{ item.order.orderdatetime }}</a> - <a class="food-price">{{ item.food.name }}</a> <a class="food-price">{{ item.quantity }}</a> <a class="food-price">Php {{  item.total_price }}</a></li>
    {% endfor %}
</ul>
<ul><p class="food-name">Total Order Price: Php {{order.total_order_price}}</p></ul>
<a href = "{% url 'webkiosk:customer-order' order.id %}" class="btn">Add Items</a>




{% endblock %}